# Python bytecode files
__pycache__/
*.py[cod]

# Compiled C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
pyvenv.cfg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
*.log

# MyPy type check
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/
*.code-workspace

# PyCharm settings
.idea/
*.iml

# Sphinx documentation
docs/_build/
docs/source/.doctrees

# Django stuff:
*.log
local_settings.py
db.sqlite3
/media

# Flask instance folder
instance/

# other files
*.DS_Store
*.swp
*.swo

# environment variables
.env
.env.*